---
layout: page
title: Projects
active: project
meta_description: "My crowsourcing, citizen science and open source projects."
---
<div class="container content">
    <div class="row project">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-md-offset-2" data-wow-delay="0.3s">
                <h1>Latest projects</h1>
            </div>
        </div>
        {% for item in site.categories.projects %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
        <div class="row">
            <div class="col-sm-12 col-md-4 col-md-offset-2" data-wow-delay="0.3s">
                <div class="thumbnail card wow fadeInUp">
                    <div class="post-pic cover-{{item.icon}}"></div>
                    <div class="caption">
                        <h2 class="hidden-xs hidden-sm">{{item.title | truncate: 45 }}</h2>
                        <h2 class="hidden-md hidden-lg">{{item.title | truncate: 30 }}</h2>
                        <p class="excerpt">{{item.excerpt | strip_html | truncate: 100 }}</p>
                        <p class="readmore"><a href="{{item.url}}">Read more</a></p>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-sm-12 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="thumbnail card">
                    <div class="post-pic cover-{{item.icon}}"></div>
                    <div class="caption">
                        <h2 class="hidden-xs hidden-sm">{{item.title | truncate: 45 }}</h2>
                        <h2 class="hidden-md hidden-lg">{{item.title | truncate: 30 }}</h2>
                        <p class="excerpt">{{item.excerpt | strip_html | truncate: 100}}</p>
                        <p class="readmore"><a href="{{item.url}}">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>
