{% if page.active == 'about' %}
<footer class="footer about"></footer>
{% endif %}
{% if page.active == 'blog' %}
<footer class="footer blog"></footer>
{% endif %}
{% if page.active == 'blogpost' %}
<footer class="footer blogpost"></footer>
{% endif %}
{% if page.active == 'project' %}
<footer class="footer project"></footer>
{% endif %}
{% if page.active == 'project-info' %}
<footer class="footer project-info"></footer>
{% endif %}
{% if page.active == 'photography' %}
<footer class="footer photography"></footer>
{% endif %}
{% if page.active == 'home' %}
<footer></footer>
{% endif %}
