.curtain {
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 2000;
    position: fixed;
    top:0;
    left:0;
    transition: transform 1s;
    transition: all 600ms cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}

.curtain-left {
    transform: translate(-100vw,0);
}

.curtain-right{
    transform: translate(100vw,0);
}

.curtain-top{
    transform: translate(0,-100vh);
}

.curtain-down{
    transform: translate(0,100vh);
}

.curtain-left.center,
.curtain-right.center,
.curtain-top.center,
.curtain-down.center {
    transform: translate(0vw,0vh) !important;
}
