.black {
}

.background-home {
    background: green;
    height: 100vh;
    color: white;
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
    transition: background 2s;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    height: 60px;
    border: 0;
    padding: 0;
    margin: 0;
}

.top, .bottom {
    // margin-top: 35px;
    display: flex;
}

.line-left-right {
    position: absolute;
    left: 0;
    right: auto;
    top: 60px;
}


.line-top-bottom{
    position: absolute;
    left: 0;
    right: auto;
    top: 0px;
}

.line-bottom-top {
    position: absolute;
    right: auto;
    left: 100px;
    top: 0;
}

.line-right-left {
    position: absolute;
    top: -3px;
}

#about, #blog,
#projects, #photography {
    visibility: hidden;
}

#about, #blog,
#projects, #photography {
    width: 100px;
    height: 60px;
}

#about, #blog,
#projects, #photography {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#about,
#photography {
    align-self: flex-start;
}

#blog,
#projects {
    margin-left: auto;
}

.menulink {
    color: white;
}

.menulink:hover,
.menulink:active,
.menulink:visited {
    text-decoration: none;
    color: white;
}

.logo {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.logo > div {
    height: 264px;
    width: 236px;
}
