.hideonload {
    display: none;
}

.loading {
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 5000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: background-color 1s;
}

.blood {
    width: 58px;
    height: 58px;
    background-color: red;
}

.blood-white {
    background-color: white;
}

.heart {
    margin-left: -1px;
    margin-top: -59px;
}
