---
layout: page 
template: about 
slug: about
meta_description: Who am I? What do I do?
active: about
title: "About Daniel Lombraña"
---
<div class="container">
        <div class="row">
            <div itemscope itemtype="http://schema.org/Person" class="col-sm-12 col-md-8 col-md-offset-2">
                <section class="about">
                    <h2>How can I work with you?</h2>
                    <p>Hi! My name is <strong><span itemprop="givenName">Daniel</span> <span itemprop="familyName">Lombraña González</span></strong> and I am an <strong>computer engineer</strong>.</p>
                    <p>I design open systems while considering the limitations imposed by practicality, regulation, safety and cost. My work links <strong>scientific discoveries</strong> and their <strong>subsequent applications to human needs and quality of life</strong>.</p>

                    <p>If you are reading this page, it could mean that:</p>
                    <ul>
                        <li>you want to talk with me (the top bar has all my details),
                        </li>
                        <li>you want to know more about my career (then don't leave this page, you will find out in a few moments), or
                        </li>
                        <li>you want to get involved in a project. 
                        </li>
                    </ul>
                    </p>
                    <p><em>If none of these options applies to you, please, let me know how you end it up here, I would love to know the mysterious paths of the web.</em></p>
                    <h2>Who is Daniel Lombraña González?</h2>
                    <p>During my PhD I discovered that my real passion is to research and build tools that could help other people to solve their problems (I guess, that's my engineering side speaking).</p>
                    <p>Right now I'm focused on my company <a href="https://scifabric.com">Scifabric</a>, where we develop easy-to-use technologies to collect, analyse and enrich (your) data with the crowd. We do this via our open source technology <a href="http://pybossa.com">PYBOSSA</a> and its hosted version <a href="http://crowdcrafting.org">Crowdcrafting</a>.</p> 
                    <p><strong>PYBOSSA</strong> is the ultimate crowdsourcing framework to analyze or enrich data
that can't be processed by machines alone. The technology has been used to stop Malaria in Africa, to fight cancer, to analyze oil contracts between Governments and major companies, to recover the Bronze Age collection of United Kingdom, to study antimatter, ...</p> 
                    <p>PYBOSSA has been used by United Nations, CERN, British Museum, British Library, The Guardian, University College of London, to name just a few.<p>
                    <p><strong>Crowdcrafting</strong> is a our PYBOSSA server that invites volunteers
                    to contribute to scientific projects developed by citizens,
                    professionals or institutions.</p>

                    <p><em>In summary</em></p>
                    <h3>From a boring point of view</h3>
                    <p>I'm a <span itemprop="jobTitle">computer engineer</span> by training and I have a <span itemprop="honorificSuffix">PhD</span> on Parallel Genetic Programming on Volunteer Desktop Grids. </p> 
                    <h3>From an interesting point of view</h3>
                    <p>I'm the <strong><span itemprop="jobTitle">Founder</span></strong> and <strong><span itemprop="jobTitle">CEO</span></strong> of 
                    <span itemprop="affiliation" itemscope itemtype="http://schema.org/Organization"><a href="http://scifabric.com" itemprop="url">Scifabric</a></span>.</p>
                    <p>I'm the <strong><span itemprop="jobTitle">Co-Founder</span> and
                        <span itemprop="jobTitle">Project Lead</span></strong> of <span
                              itemprop="affiliation" itemscope
                              itemtype="http://schema.org/Organization"><a itemprop="url"
                                                                           href="http://pybossa.com">PYBOSSA</a></span> and <span itemprop="affiliation" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" href="http://crowdcrafting.org">Crowdcrafting</a></span>.</p>

                    <p>I'm an
                    <span itemprop="jobTitle">alumni</span> of the 
                    <span itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                        <a itemprop="url" href="http://www.shuttleworthfoundation.org/">
                            <span itemprop="name">Shuttleworth Foundation</span>
                        </a>,
                    </span>and thanks to their support I'm running <a href="https://scifabric.com">Scifabric</a> and building <a href="http://pybossa.com">PYBOSSA</a> and <a href="http://crowdcrafting.org">Crowdcrafting</a>.
                    </p>

                    <p>Additionally, I'm working for the 
                    <span itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                        <a itemprop="url" href="http://www.citizencyberlab.org/">
                            <span itemprop="name">Citizen Cyberlab</span>
                        </a>
                    </span> 
                    as a 
                    <span itemprop="jobTitle">Senior Researcher and Developer</span> 
                    and I also collaborate with the 
                    <span itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                        <a itemprop="url" href="http://okfn.org">
                            <span itemprop="name">Open Knowledge Foundation</span>.
                        </a>
                    </span> 
                    <h3>From a visual point of view</h3>
            </div>
                </section>
        </div>
        {% for item in site.data.visualpoint %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
        <div class="row">
            <div class="col-sm-12 col-md-4 col-md-offset-2" data-wow-delay="0.3s">
                <div class="thumbnail card wow fadeInUp">
                    <div class="post-pic cover-{{item.cover}}"></div>
                    <div class="caption">
                        <h2>{{item.title}}</h2>
                        <p>{{item.text}}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-sm-12 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="thumbnail card">
                    <div class="post-pic cover-{{item.cover}}"></div>
                    <div class="caption">
                        <h2>{{item.title}}</h2>
                        <p>{{item.text}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
</div>
