@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Light.ttf');
}
/* GLOBAL STYLES */
/* FONT */
/* COLORS */
/* https://kuler.adobe.com/es/Barbecue-color-theme-3382080/ */
/* COLORS */
body {
  background-image: url('../img/bg.png');
  padding-top: 40px;
  /* Perfect Fifth Rule (see http://modularscale.com/scale/) */
  font-family: 'Poiret One', cursive;
  color: white;
}
body p,
body ul,
body li {
  font-size: 18px;
  line-height: 1.1em;
  color: #e6e6e6;
}
body h1 {
  font-size: 50.886px;
  line-height: 1.1em;
}
body h2,
body small {
  font-size: 35.982px;
  line-height: 1.1em;
}
body small {
  color: #cdcdcd;
  line-height: 1.1em;
}
body h3 {
  font-size: 25.452px;
  line-height: 1.1em;
}
body h4 {
  font-size: 12.726px;
  line-height: 1.1em;
}
body p,
body ul,
body li {
  font-size: 18px;
  line-height: 1.5em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
body .year {
  font-size: 20px;
}
body abbr {
  font-variant: small-caps;
}
body hr {
  border-color: #ff6200;
}
@media (max-width: 360px) {
  body {
    /* Perfect Fifth Rule (see http://modularscale.com/scale/) */
    font-family: 'Poiret One', cursive;
    color: white;
  }
  body h1 {
    font-size: 45.232px;
    line-height: 1.1em;
  }
  body h2,
  body small {
    font-size: 31.984px;
    line-height: 1.1em;
  }
  body small {
    color: #cdcdcd;
    line-height: 1.1em;
  }
  body h3 {
    font-size: 22.624px;
    line-height: 1.1em;
  }
  body h4 {
    font-size: 11.312px;
    line-height: 1.1em;
  }
  body p,
  body ul,
  body li {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
  }
  body .year {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  body {
    /* Perfect Fifth Rule (see http://modularscale.com/scale/) */
    font-family: 'Poiret One', cursive;
    color: white;
  }
  body h1 {
    font-size: 50.886px;
    line-height: 1.1em;
  }
  body h2,
  body small {
    font-size: 35.982px;
    line-height: 1.1em;
  }
  body small {
    color: #cdcdcd;
    line-height: 1.1em;
  }
  body h3 {
    font-size: 25.452px;
    line-height: 1.1em;
  }
  body h4 {
    font-size: 12.726px;
    line-height: 1.1em;
  }
  body p,
  body ul,
  body li {
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
  }
  body .year {
    font-size: 20px;
  }
}
/* PROJECT */
.column {
  padding-left: 15px;
}
.column li {
  color: #e6e6e6;
  font-size: 16px;
  line-height: 1.5em;
}
.project {
  margin-top: 20px;
  color: #e6e6e6;
  /* background: none repeat scroll 0% 0% rgb(27, 27, 27);*/
  background-color: rgba(0, 0, 0, 0.78);
  border: 1px solid rgba(255, 98, 0, 0.37);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.project h5 {
  margin-top: 0px;
}
.project a {
  color: #e6e6e6;
}
.project ul {
  list-style-type: none;
  margin: 0px;
}
.social {
  font-size: 22px;
  text-align: center;
}
footer {
  padding-top: 20px;
  text-align: center;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px;
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #F60;
}
/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 60px 16px;
  /* Increase vertical padding to match navbar links */
  font-size: 30px;
  font-family: 'Poiret One', cursive;
  color: #e6e6e6;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
@media (max-width: 320px) {
  .navbar .brand {
    font-size: 25px;
  }
}
@media (max-width: 960px) {
  .navbar .brand {
    padding: 14px 40px 16px;
    /* Increase vertical padding to match navbar links */
  }
}
/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 20px;
  font-size: 18px;
  line-height: 20px;
}
/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
  border: 1px solid white;
}
@media (max-width: 320px) {
  .navbar .btn-navbar {
    margin-right: 20px;
  }
}
@media (max-width: 360px) {
  .navbar .btn-navbar {
    margin-right: 20px;
  }
}
/* CAROUSEL BASE CLASS */
.carousel {
  margin-bottom: 60px;
}
.carousel .container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.carousel-control {
  background-color: transparent;
  border: 0;
  font-size: 120px;
  margin-top: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.carousel .item {
  height: 600px;
}
.carousel img {
  min-width: 100%;
}
.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-bottom: 100px;
}
.carousel-caption .lead {
  font-size: 29.124px;
  font-weight: bold;
  line-height: 1.5em;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .carousel-caption {
    max-width: 550px;
    padding: 0 40px;
    margin-bottom: 150px;
  }
}
@media (max-width: 980px) {
  .carousel-caption {
    max-width: 700px;
    padding: 0 40px;
    margin-bottom: 200px;
  }
}
@media (max-width: 1200px) {
  .carousel-caption {
    max-width: 900px;
    padding: 0 40px;
    margin-bottom: 220px;
  }
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
}
.carousel-caption a,
.carousel-caption p {
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
}
.carousel-caption .btn {
  margin-top: 10px;
}
/* RESPONSIVE */
@media (max-width: 979px) {
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    width: auto;
    /* margin: -20px 0;*/
    padding: 5px 40px 5px !important;
  }
  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }
}
@media (max-width: 767px) {
  .navbar-inner {
    margin: -20px;
  }
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-bottom: 40px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }
}
@media (max-width: 360px) {
  .navbar-inner {
    border-radius: 0;
    width: auto;
    /* margin: -20px 0;*/
    padding-top: 20px !important;
    padding-left: 25px !important;
    padding-bottom: 5px !important;
  }
}
.thumbnail {
  position: relative;
}
.thumbnail-caption {
  position: absolute;
  bottom: 0px;
  margin-bottom: 15px;
  z-index: 99;
  background-color: white;
  text-transform: capitalize;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
}
.thumbnail-caption a {
  color: #e6e6e6;
}
.cards {
  list-style-type: none;
  margin-left: 0px;
}
.about-card {
  background-color: rgba(0, 0, 0, 0.78);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  text-align: center;
  min-height: 300px;
}
.about-card p {
  font-family: 'Federo', sans-serif;
}
.about-card img {
  height: auto;
  overflow: hidden;
  width: 100%;
}
.about-card h3 {
  padding-top: 5px;
  overflow: hidden;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #F60;
}
.about-card hr {
  border-color: #eeeeee -moz-use-text-color #ffffff;
  border-width: 1px 0px;
  border-style: solid none;
  border-image: none;
}
@media (max-width: 320px) {
  .about-card {
    margin-top: 10px;
  }
}
@media (max-width: 360px) {
  .about-card {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .about-card {
    h3: 22px;
    min-height: 265px;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  .about-card {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .about-card {
    margin-top: 15px;
    min-height: 335px;
  }
  .about-card h3 {
    padding-top: 15px;
  }
}
.card {
  background-color: rgba(0, 0, 0, 0.78);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-right: 10px;
}
.card img {
  height: auto;
  overflow: hidden;
  width: 100%;
}
.card h3 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  overflow: hidden;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ff6200;
  font-family: 'Poiret One', cursive;
}
.card hr {
  border-color: #eeeeee -moz-use-text-color #ffffff;
  border-width: 1px 0px;
  border-style: solid none;
  border-image: none;
}
@media (max-width: 320px) {
  .card {
    margin-top: 10px;
  }
}
@media (max-width: 360px) {
  .card {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .card {
    h3: 22px;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  .card {
    margin-top: 10px;
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .card {
    margin-top: 15px;
    margin-right: 15px;
  }
  .card h3 {
    padding-left: 30px;
    padding-top: 15px;
  }
}
.excerpt {
  margin-top: -10px;
  overflow: hidden;
  height: 115px;
}
.excerpt p {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 320px) {
  .excerpt {
    height: 185px;
  }
}
@media (max-width: 360px) {
  .excerpt {
    height: 160px;
  }
}
@media (min-width: 1200px) {
  .excerpt {
    height: 140px;
    padding-bottom: 20px;
  }
  .excerpt p {
    padding-left: 30px;
    overflow: hidden;
  }
}
.readmore {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
.readmore a {
  color: white;
}
.column-right {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px;
}
@media (min-width: 768px) and (max-width: 980px) {
  .column-right img {
    max-width: 157px;
  }
}
.date {
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 980px) {
  .date {
    font-size: 16px;
  }
}
.lead {
  font-size: 18px;
}
@media (max-width: 980px) {
  .lead {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .lead {
    font-size: 22px;
  }
}
.entry {
  padding-left: 0px;
}
#twitter {
  position: relative;
}
#twitter img {
  z-index: -1;
}
.twitter-circle {
  position: relative;
  top: -45px;
  font-size: 30px;
  color: white;
}
.rss-subscribe {
  padding-top: 10px;
  text-align: center;
}
@media (min-width: 980px) {
  .content {
    padding-top: 8%;
  }
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  font-weight: bold;
  border-bottom: 5px solid #ff6200;
  background-color: transparent;
  color: white;
}
@media (max-width: 960px) {
  .nav-collapse {
    float: left;
    margin-left: 35px;
  }
}
.picture img {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.tag-list {
  list-style: none;
}
.tag-list li:before {
  font-family: 'FontAwesome';
  content: '\f0c1';
  margin: 0 5px 0 -15px;
}
.projectbody {
  list-style: none;
}
.projectbody li:before {
  font-family: 'FontAwesome';
  content: '\f102';
  margin: 0 5px 0 -15px;
}
.projectbody ul {
  list-style: none;
}
.projectbody ul li:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 5px 0 -15px;
}
.subheadline {
  font-family: 'Federo', sans-serif;
  font-style: italic;
  font-size: 24px;
}
