---
layout: default
active: blogpost
---
<div id="page" class="hideonload">
    <div class="container">
        <nav class="navbar navbar-fixed-top navbar-close navbar-blogpost">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 close-items">
                        <i id="closebtn" class="fa fa-arrow-left fa-fw" data-link="/blog/"></i>
                        <a href='javascript:window.open("https://twitter.com/intent/tweet?text={{page.meta_description|escape}}&url=http://daniellombrana.es{{page.url}}&via=teleyinex","_blank","width=500,height=450");void(0);'><i class="fa fa-twitter fa-fw"></i></a>
                        <a href="javascript:window.open('http://www.facebook.com/sharer/sharer.php?u=http://daniellombrana.es{{ page.url }}', '_blank', 'width=500,height=450');void(0);"><i class="fa fa-facebook fa-fw"></i></a>
                        <a href="javascript:window.open('https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fdaniellombrana.es{{ page.url }}', '_blank', 'width=500,height=450');void(0);"><i class="fa fa-linkedin fa-fw"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="jumbotron-full section cover-dark-{{page.icon}}">
        {% if page.icon_author %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2 headlines">
                    <h1 class="text-center">{{page.title}}</h1>
                    <p class="text-center">{{page.meta_description}}</p>
                    <p class="post-caption">Photo by <a href="{{page.icon_url}}">{{page.icon_author}}</a></p>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
    <div class="container">
        <div class="row top50">
            <div class="col-sm-12 col-md-8 col-md-offset-2 blogpost">
                {{ content }}
            </div>
        </div>
    </div>
</div>
