---
layout: default
active: projects
---
<div class="container content" itemscope itemtype="http://schema.org/SoftwareApplication">
    <div class="row-fluid">
        <div class="span10 offset1">
            <div style="text-align:center;">
            <h2><span itemprop="name">{{ page.title|striptags}}</span></h2>
                    <div style="font-style: italic; font-size:18px; padding-bottom:14px;">
                        <p class="lead">{{ page.summary}}</p>
                    </div>
                    <span data-picture data-alt="{{page.title}}">
                        <span data-src="/assets/img/project/{{page.icon}}_320.jpg"></span>
                        <span data-src="/assets/img/project/{{page.icon}}.jpg"     data-media="(min-width: 768px)"></span>
                        <span data-src="/assets/img/project/{{page.icon}}.jpg"     data-media="(min-width: 980px)"></span>
                    </span>
                    <p style="text-align:left; font-size:14px; color:#999">Photo by <a href="{{page.icon_url}}">{{page.iconauthor}}</a></p>
            </div>
                <div itemprop="about" style="margin-top:15px;">
                    <section class="link-curtain">
                {{content}}
                </section>
                </div>
        </div>

    </div>
    <div class="row-fluid project">
        <div class="span4 column">
            <h3>Project Details</h3>
            <ul>
                <li><strong><i class="fa fa-user"></i> Role:</strong> {{page.role }}</li>
                <li><strong><i class="fa fa-calendar-o"></i> Started:</strong> <span itemprop="dateCreated">{{page.date.strftime('%b %Y')}}</span></li>
                <li><strong><i class="fa fa-tag"></i> Type:</strong> <span itemprop="applicationCategory">{{page.type}}</span></li>
                <li><i class="fa fa-home"></i> <a itemprop="url" href="{{page.home}}">{{page.title}}</a></li>
                <li><i class="fa fa-github"></i> <a href="{{page.github}}">Source Code</a></li>
            </ul>
        </div>
        <div class="span4 column">
            {% if page.partners %}
            <h3>Project Partners</h3>
            {% for partner in page.partners %}
            <ul>
                <li><i class="fa fa-link-o"></i> {{partner}}</li>
            </ul>
            {% endfor %}
            {% endif %}
        </div>
        <div class="span4 column">
            {% if page.funders %}
            <h3>Project Funders</h3>
            {% for funder in page.funders %}
            <ul>
                <li><i class="fa fa-link"></i> {{funder}}</li>
            </ul>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
